In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sklearn.metrics import mean_squared_error
from scipy.optimize import minimize
pd.set_option('mode.chained_assignment', None)

In [2]:
conn = psycopg2.connect("dbname=nhl_db")
cur = conn.cursor()

In [3]:
cur.execute("""
    SELECT
        team,
        season,
        game_date,
        win,
        loss,
        ot_loss,
        goals_for,
        goals_against
    FROM summary
    WHERE playoffs = FALSE
    AND season >= '2012/13'
""")

In [4]:
df = pd.DataFrame(data=cur.fetchall(), columns=["team", "season", "date", "wins", "losses", "ot_losses", "goals_for", "goals_against"])

In [5]:
df.head()

  team   season        date  wins  losses  ot_losses  goals_for  goals_against
0  BOS  2021/22  2022-03-12     1       0          0          3              2
1  BOS  2021/22  2022-01-08     1       0          0          5              2
2  OTT  2021/22  2021-12-11     1       0          0          4              0
3  OTT  2021/22  2022-04-29     1       0          0          4              2
4  OTT  2021/22  2021-10-29     1       0          0          4              1

In [6]:
conn.close()

In [7]:
season_df = df.groupby(["team", "season"])[["wins", "losses", "ot_losses", "goals_for", "goals_against"]].sum().reset_index()

In [8]:
season_df["games_played"] = season_df["wins"] + season_df["losses"] + season_df["ot_losses"]
season_df["losses"] = season_df["losses"] + season_df["ot_losses"]
season_df.drop("ot_losses", axis=1)

    team   season  wins  losses  goals_for  goals_against  games_played
0    ANA  2012/13    30      18        134            115            48
1    ANA  2013/14    54      28        263            203            82
2    ANA  2014/15    51      31        228            221            82
3    ANA  2015/16    46      36        215            188            82
4    ANA  2016/17    46      36        220            197            82
..   ...      ...   ...     ...        ...            ...           ...
301  WSH  2017/18    49      33        256            238            82
302  WSH  2018/19    48      34        274            248            82
303  WSH  2019/20    41      28        236            212            69
304  WSH  2020/21    36      20        188            161            56
305  WSH  2021/22    44      38        270            242            82

[306 rows x 7 columns]

In [9]:
season_df.head(20)

,team,season,wins,losses,ot_losses,goals_for,goals_against,games_played
0,ANA,2012/13,30,18,6,134,115,48
1,ANA,2013/14,54,28,8,263,203,82
2,ANA,2014/15,51,31,7,228,221,82
3,ANA,2015/16,46,36,11,215,188,82
4,ANA,2016/17,46,36,13,220,197,82
5,ANA,2017/18,44,38,13,231,209,82
6,ANA,2018/19,35,47,10,196,248,82
7,ANA,2019/20,29,42,9,182,225,71
8,ANA,2020/21,17,39,9,124,177,56
9,ANA,2021/22,31,51,14,228,266,82
10,ARI,2012/13,21,27,9,121,125,48
11,ARI,2013/14,37,45,15,210,224,82
12,ARI,2014/15,24,58,8,165,267,82
13,ARI,2015/16,35,47,8,208,244,82
14,ARI,2016/17,30,52,10,191,258,82
15,ARI,2017/18,29,53,12,206,251,82
16,ARI,2018/19,39,43,8,209,220,82
17,ARI,2019/20,33,37,8,190,183,70
18,ARI,2020/21,24,32,6,150,174,56
19,ARI,2021/22,25,57,7,206,309,82

In [10]:
season_df["win_pc"] = season_df["wins"] / season_df["games_played"]

In [11]:
season_df.head()

,team,season,wins,losses,ot_losses,goals_for,goals_against,games_played,win_pc
0,ANA,2012/13,30,18,6,134,115,48,0.625000
1,ANA,2013/14,54,28,8,263,203,82,0.658537
2,ANA,2014/15,51,31,7,228,221,82,0.621951
3,ANA,2015/16,46,36,11,215,188,82,0.560976
4,ANA,2016/17,46,36,13,220,197,82,0.560976

In [12]:
def pythagoreanExpectation(row, alpha=2):
    return pow(row.goals_for,alpha) / (pow(row.goals_for,alpha) + pow(row.goals_against,alpha))

In [13]:
# season_df["pyth_exp"] = season_df.apply(lambda x: pythagoreanExpectation(x, alpha=1.7), axis=1)

In [14]:
season_df.head()

,team,season,wins,losses,ot_losses,goals_for,goals_against,games_played,win_pc
0,ANA,2012/13,30,18,6,134,115,48,0.625000
1,ANA,2013/14,54,28,8,263,203,82,0.658537
2,ANA,2014/15,51,31,7,228,221,82,0.621951
3,ANA,2015/16,46,36,11,215,188,82,0.560976
4,ANA,2016/17,46,36,13,220,197,82,0.560976

In [15]:
seasons = season_df.season.unique()
teams = season_df.team.unique()

In [16]:
league = pd.DataFrame(columns=["season", "alpha", "mse"])

In [17]:
# for season in seasons:
#     df = season_df.loc[season_df.season == season, :]
    
#     def f(alpha):
#         df["pyth_exp"] = df.apply(lambda x: pythagoreanExpectation(x, alpha=alpha), axis=1)
    
#         mse = mean_squared_error(df["win_pc"], df["pyth_exp"])

#         return mse
    
#     res = minimize(f, x0=2.0)

In [18]:
def optimizePythagoreanExpectation(group):
    def f(alpha):
        pyth_exp = group.apply(lambda x: pythagoreanExpectation(x, alpha=alpha), axis=1)
    
        mse = mean_squared_error(group["win_pc"], pyth_exp)

        return mse
    
    res = minimize(f, x0=2.0)
    print(res.x)
    group["pe_alpha"] = res.x[0]

    return group

In [19]:
season_df = season_df.groupby(["season"], group_keys=True).apply(lambda x: optimizePythagoreanExpectation(x))

[2.28130042]
[2.02809626]
[2.03216563]
[2.27954431]
[1.97393414]
[2.49149416]
[2.17340225]
[1.99072757]
[2.20510106]
[2.22501229]

            team   season  wins  losses  ot_losses  goals_for  goals_against  \
season
2012/13 0    ANA  2012/13    30      18          6        134            115
        10   ARI  2012/13    21      27          9        121            125
        20   BOS  2012/13    28      20          6        127            106
        30   BUF  2012/13    21      27          6        118            139
        40   CAR  2012/13    19      29          4        127            159
        50   CBJ  2012/13    24      24          7        115            115
        60   CGY  2012/13    19      29          4        128            157
        70   CHI  2012/13    36      12          5        149             97
        80   COL  2012/13    16      32          7        114            150
        90   DAL  2012/13    22      26          4        128            141
        100  DET  2012/13    24      24          8        122            110
        110  EDM  2012/13    19      29          7        123            131
        120  FLA  2012/13    15      33          6        109            170
        130  LAK  2012/13    27      21          5        131            114
        140  MIN  2012/13    26      22          3        118            125
        150  MTL  2012/13    29      19          5        146            124
        160  NJD  2012/13    19      29         10        110            122
        170  NSH  2012/13    16      32          9        109            133
        180  NYI  2012/13    24      24          7        135            136
        190  NYR  2012/13    26      22          4        126            108

             games_played    win_pc               pyth_exp  pe_alpha
season
2012/13 0              48  0.625000    [0.586333424969137]    2.2813
        10             48  0.437500    [0.481459711631951]    2.2813
        20             48  0.583333   [0.6016489473983468]    2.2813
        30             48  0.437500  [0.40765871535763853]    2.2813
        40             48  0.395833  [0.37457315286757903]    2.2813
        50             48  0.500000                  [0.5]    2.2813
        60             48  0.395833    [0.385592564782474]    2.2813
        70             48  0.750000   [0.7269523754469077]    2.2813
        80             48  0.333333   [0.3484015294021856]    2.2813
        90             48  0.458333  [0.44505544481722736]    2.2813
        100            48  0.500000   [0.5587788109542144]    2.2813
        110            48  0.395833    [0.464123881203149]    2.2813
        120            48  0.312500   [0.2662123773531951]    2.2813
        130            48  0.562500   [0.5786168972763055]    2.2813
        140            48  0.541667  [0.46717992871755104]    2.2813
        150            48  0.604167    [0.592085515609668]    2.2813
        160            48  0.395833  [0.44122118904578556]    2.2813
        170            48  0.333333   [0.3884145162794017]    2.2813
        180            48  0.500000  [0.49579103892920423]    2.2813
        190            48  0.541667    [0.587021039387031]    2.2813

In [21]:
season_df.

SyntaxError: invalid syntax (575479271.py, line 1)